<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta property="creator.productor" content="http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/NUMERO">
        
        <title>Gemeos - Sistema de Gerenciamento de Métricas e Ordens de Serviços</title>
        <link rel="stylesheet" href="../../css/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/lib/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/main.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
    
    </head>
    <body class="with-side-menu theme-picton-blue-white-ebony">
        
        <header class="site-header">
            <div class="container-fluid">
                <a href="#" class="site-logo">
                    <img class="hidden-md-down" src="../../img/logo-gemeos-w-md.png" alt="">
                    <img class="hidden-lg-up" src="../../img/logo-gemeos-c-sm.png" alt="">
                </a>
                <button class="hamburger hamburger--htla">
                    <span>Abrir menu</span>
                </button>
                <div class="site-header-content">
                    <div class="site-header-content-in">
                        <div class="site-header-shown">
                            
                            <div class="dropdown dropdown-notification messages">
                                <a href="#" class="header-alarm dropdown-toggle active" id="dd-messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="font-icon-alarm" data-toggle="tooltip" data-placement="bottom" title="Avisos relativos ás solicitações do sistema"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-messages" aria-labelledby="dd-messages">
                                    <div class="dropdown-menu-messages-header">
                                        <ul class="nav" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tab-incoming" role="tab">
                                                    Novas
                                                    <span class="label label-pill label-danger">8</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tab-outgoing" role="tab">Lidas</a>
                                            </li>
                                        </ul>
                                        <!--<button type="button" class="create">
                                            <i class="font-icon font-icon-pen-square"></i>
                                        </button>-->
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-incoming" role="tabpanel">
                                            <div class="dropdown-menu-messages-list">
                                                <a href="#" class="mess-item">
                                                    <span class="mess-item-name">Pedro Silva</span>
                                                    <span class="mess-item-txt">Envio de solicitação de documentação aprovada</span>
                                                </a>
                                                <a href="#" class="mess-item">
                                                    <span class="mess-item-name">Mariana oliveira</span>
                                                    <span class="mess-item-txt">Envio de solicitação de documentação aprovada</span>
                                                </a>
                                                <a href="#" class="mess-item">
                                                    <span class="mess-item-name">Eustáquio Silveira</span>
                                                    <span class="mess-item-txt">Envio de solicitação de documentação aprovada</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-outgoing" role="tabpanel">
                                            <div class="dropdown-menu-messages-list">
                                                <a href="#" class="mess-item">
                                                    <span class="mess-item-name">Henrique Silva</span>
                                                    <span class="mess-item-txt">Envio de solicitação de documentação aprovada</span>
                                                </a>
                                                <a href="#" class="mess-item">
                                                    <span class="mess-item-name">Caroline oliveira</span>
                                                    <span class="mess-item-txt">Envio de solicitação de documentação aprovada</span>
                                                </a>
                                                <a href="#" class="mess-item">
                                                    <span class="mess-item-name">Sandra Silveira</span>
                                                    <span class="mess-item-txt">Envio de solicitação de documentação aprovada</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu-notif-more">
                                        <a href="#">Todas</a>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="dropdown user-menu">
                                <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../../img/avatar-2-64.png" alt="">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-user"></span>Dados de acesso</a>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-cog"></span>Configurações</a>
                                    <a class="dropdown-item" href="#"><span class="font-icon font-icon-help"></span>Ajuda</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="../login/login-index.html"><span class="font-icon glyphicon glyphicon-log-out"></span>Sair</a>
                                </div>
                            </div>
                            
                            <button type="button" class="burger-right">
                                <i class="font-icon-menu-addl"></i>
                            </button>
                        </div><!--.site-header-shown-->
                        
                        <div class="mobile-menu-right-overlay"></div>
                        <div class="site-header-collapsed">
                            <div class="site-header-collapsed-in">
                                
                                <div class="dropdown dropdown-typical">
                                    <a href="dashboard.html" class="dropdown-toggle no-arr divider-right" data-toggle="tooltip" data-placement="bottom" title="Gerenciar o acesso ao sistema, bem como as atribuições de permissões aos usuários">
                                        <span class="font-icon font-icon-doc"></span>
                                        <span class="lbl">Administração</span>
                                    </a>
                                </div>
                                <div class="dropdown dropdown-typical">
                                    <a href="#" class="dropdown-toggle no-arr divider-right" data-toggle="tooltip" data-placement="bottom" title="Gerenciar o processo de planejamento das contratações">
                                        <span class="font-icon font-icon-earth-bordered"></span>
                                        <span class="lbl">Planejamento</span>
                                    </a>
                                </div>
                                <div class="dropdown dropdown-typical">
                                    <a href="#" class="dropdown-toggle no-arr divider-right" data-toggle="tooltip" data-placement="bottom" title="Administrar o processo de gestão do contrato">
                                        <span class="font-icon font-icon-cogwheel"></span>
                                        <span class="lbl">Gestão</span>
                                    </a>
                                </div>
                                
                                
                                <div class="help-dropdown">
                                    <button type="button">
                                        <i class="font-icon font-icon-help"></i> Ajuda
                                    </button>
                                    <div class="help-dropdown-popup">
                                        <div class="help-dropdown-popup-side">
                                            <ul>
                                                <li><a href="#">Getting Started</a></li>
                                                <li><a href="#" class="active">Creating a new project</a></li>
                                                <li><a href="#">Adding customers</a></li>
                                                <li><a href="#">Settings</a></li>
                                                <li><a href="#">Importing data</a></li>
                                                <li><a href="#">Exporting data</a></li>
                                            </ul>
                                        </div>
                                        <div class="help-dropdown-popup-cont">
                                            <div class="help-dropdown-popup-cont-in">
                                                <div class="jscroll">
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Lorem Ipsum is simply
                                                        <span class="describe">Lorem Ipsum has been the industry's standard dummy text </span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Contrary to popular belief
                                                        <span class="describe">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        The point of using Lorem Ipsum
                                                        <span class="describe">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Lorem Ipsum
                                                        <span class="describe">There are many variations of passages of Lorem Ipsum available</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Lorem Ipsum is simply
                                                        <span class="describe">Lorem Ipsum has been the industry's standard dummy text </span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Contrary to popular belief
                                                        <span class="describe">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        The point of using Lorem Ipsum
                                                        <span class="describe">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Lorem Ipsum
                                                        <span class="describe">There are many variations of passages of Lorem Ipsum available</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Lorem Ipsum is simply
                                                        <span class="describe">Lorem Ipsum has been the industry's standard dummy text </span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Contrary to popular belief
                                                        <span class="describe">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        The point of using Lorem Ipsum
                                                        <span class="describe">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</span>
                                                    </a>
                                                    <a href="#" class="help-dropdown-popup-item">
                                                        Lorem Ipsum
                                                        <span class="describe">There are many variations of passages of Lorem Ipsum available</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.help-dropdown-->
                                <div class="site-header-search-container">
                                    <form class="site-header-search closed">
                                        <input type="text" placeholder="Pesquisar"/>
                                        <button type="submit">
                                            <span class="font-icon-search"></span>
                                        </button>
                                        <div class="overlay"></div>
                                    </form>
                                </div>
                            </div><!--.site-header-collapsed-in-->
                        </div><!--.site-header-collapsed-->
                    </div><!--site-header-content-in-->
                </div><!--.site-header-content-->
            </div><!--.container-fluid-->
        </header><!--.site-header-->
        
        <div class="mobile-menu-left-overlay"></div>
        <nav class="side-menu">
            <div class="side-menu-avatar">
                <div class="avatar-preview">
                    <p>Bem vindo, <strong>Pedro Alencar</strong><br>
                       Você tem privilégios de administrador</p>
                </div>
            </div>
            <ul class="side-menu-list">
                <li class="grey with-sub">
	            <span>
	                <i class="font-icon font-icon-user"></i>
	                <span class="lbl">Acesso</span>
	            </span>
                    <ul>
                        <li>
                            <a href="index.html"><span class="lbl">Default</span><span class="label label-custom label-pill label-danger">new</span></a>
                        </li>
                        <li><a href="dashboard-top-menu.html"><span class="lbl">Top menu</span></a></li>
                        <li><a href="side-menu-compact-full.html"><span class="lbl">Compact menu</span></a></li>
                        <li><a href="dashboard-addl-menu.html"><span class="lbl">Submenu</span></a></li>
                        <li><a href="side-menu-avatar.html"><span class="lbl">Menu with avatar</span></a></li>
                        <li><a href="side-menu-avatar.html"><span class="lbl">Compact menu with avatar</span></a></li>
                        <li><a href="dark-menu.html"><span class="lbl">Dark menu</span></a></li>
                        <li><a href="dark-menu-blue.html"><span class="lbl">Blue dark menu</span></a></li>
                        <li><a href="dark-menu-green.html"><span class="lbl">Green dark menu</span></a></li>
                        <li><a href="dark-menu-green-compact.html"><span class="lbl">Green compact dark menu</span></a>
                        </li>
                        <li><a href="dark-menu-ultramarine.html"><span class="lbl">Ultramarine dark menu</span></a></li>
                        <li><a href="asphalt-menu.html"><span class="lbl">Asphalt top menu</span></a></li>
                        <li><a href="side-menu-big-icon.html"><span class="lbl">Big menu</span></a></li>
                    </ul>
                </li>
            </ul>
            
        </nav><!--.side-menu-->
    
    
    
    
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Administração</h1>
                    </div>
                </div>
                <div class="form-group row mt-md divider-bottom">
                    <label for="" class="col-sm-1 col-form-label text-right mt-sm">Período:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm datetimepicker" placeholder="00/00/0000">
                    </div>
                    <label for="" class="col-sm-1 col-form-label text-center mt-sm">a</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm datetimepicker" placeholder="00/00/0000">
                    </div>
                </div>
                <section>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="chart-statistic-box">
                                <div class="chart-txt">
                                    <div class="chart-txt-top">
                                        <p><span class="unit">Jan/2018</span><span class="number">540</span></p>
                                        <p class="caption">Ordens de serviço</p>
                                    </div>
                                    <table class="tbl-data">
                                        <tr>
                                            <td class="price color-green">10%</td>
                                            <td><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="price color-red">- 3%</td>
                                            <td><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="chart-container">
                                    <div class="chart-container-in">
                                        <div id="chart_div"></div>
                                        <header class="chart-container-title">Média semanal</header>
                                        <div class="chart-container-x">
                                            <div class="item"></div>
                                            <div class="item">Seg</div>
                                            <div class="item">Ter</div>
                                            <div class="item">Qua</div>
                                            <div class="item">Qui</div>
                                            <div class="item">Sex</div>
                                            <div class="item">Sáb</div>
                                            <div class="item">Dom</div>
                                            <div class="item"></div>
                                        </div>
                                        <div class="chart-container-y">
                                            <div class="item">300</div>
                                            <div class="item"></div>
                                            <div class="item">250</div>
                                            <div class="item"></div>
                                            <div class="item">200</div>
                                            <div class="item"></div>
                                            <div class="item">150</div>
                                            <div class="item"></div>
                                            <div class="item">100</div>
                                            <div class="item"></div>
                                            <div class="item">50</div>
                                            <div class="item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--.chart-statistic-box-->
                        </div><!--.col-->
                        <div class="col-md-4">
                            <section class="card">
                                <div class="card-block">
                                    <div id="donut-chart"></div>
                                </div>
                            </section>
                        </div>
                    </div><!--.row-->
                </section>
                <section>
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="tabs-section">
                                <div class="tabs-section-nav tabs-section-nav-inline">
                                    <ul class="nav" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#tabs-4-tab-1" role="tab" data-toggle="tab"> Todos </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tabs-4-tab-2" role="tab" data-toggle="tab"> Em aberto </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tabs-4-tab-3" role="tab" data-toggle="tab"> Encerradas </a>
                                        </li>
                                    </ul>
                                </div><!--.tabs-section-nav-->
                            
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="tabs-4-tab-1">
                                        <header>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <h4>Fluxo de ordens de serviço</h4>
                                                </div>
                                                <div class="col-sm-8 text-right">
                                                    <p>
                                                        <a href="#" data-toggle="modal" data-target="#ModalCriaTransac" class="btn btn-rounded btn-inline btn-success-outline btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar transação</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </header>
                                        <section>
                                            <div class="table-responsive table-custom">
                                                <table id="data-table" class="data-table table table-hover fontsize-md">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Data</th>
                                                            <th>Descrição</th>
                                                            <th>Tipo</th>
                                                            <th>Prazo</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-check">
                                                                <div class="checkbox checkbox-only mr-sm">
                                                                    <input type="checkbox" id="table-check-1">
                                                                    <label for="table-check-1"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                00/00/0000 - Segunda-feira
                                                            </td>
                                                            <td>
                                                                Compras ABC
                                                            </td>
                                                            <td>
                                                                <strong class="text-danger">Solicitação</strong>
                                                            </td>
                                                            <td>
                                                                <strong class="text-danger">00/00/0000</strong>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="btn-group btn-group-sm dropdown-custom pull-right">
                                                                    <button type="button" class="btn btn-default-outline dropdown-toggle" aria-haspopup="true" aria-expanded="false">Ações
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#ModalCriaTransac" role="button"><i class="fa fa-pencil mr-xs" aria-hidden="true"></i> Editar</a>
                                                                        <a class="dropdown-item text-danger swal-btn-cancel" href="#" role="button"><i class="fa fa-trash mr-xs" aria-hidden="true"></i> Excluir</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </section>
                                    </div><!--.tab-pane-->
                                    <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-2">
    
                                        <section>
                                            <div class="table-responsive table-custom">
                                                <table id="data-table-2" class="data-table table table-hover fontsize-md">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Data</th>
                                                            <th>Descrição</th>
                                                            <th>Tipo</th>
                                                            <th>Prazo</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-check">
                                                                <div class="checkbox checkbox-only mr-sm">
                                                                    <input type="checkbox" id="table-check-1">
                                                                    <label for="table-check-1"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                00/00/0000 - Segunda-feira
                                                            </td>
                                                            <td>
                                                                Compras ABC
                                                            </td>
                                                            <td>
                                                                <strong>Solicitação</strong>
                                                            </td>
                                                            <td>
                                                                <strong class="text-success">00/00/0000</strong>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="btn-group btn-group-sm dropdown-custom pull-right">
                                                                    <button type="button" class="btn btn-default-outline dropdown-toggle" aria-haspopup="true" aria-expanded="false">Ações
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#ModalCriaTransac" role="button"><i class="fa fa-pencil mr-xs" aria-hidden="true"></i> Editar</a>
                                                                        <a class="dropdown-item text-danger swal-btn-cancel" href="#" role="button"><i class="fa fa-trash mr-xs" aria-hidden="true"></i> Excluir</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
            
                                                </table>
                                            </div>
                                        </section>
                                        
                                    </div><!--.tab-pane -->
                                    <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-3">
    
                                        <section>
                                            <div class="table-responsive table-custom">
                                                <table id="data-table-2" class="data-table table table-hover fontsize-md">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Data</th>
                                                            <th>Descrição</th>
                                                            <th>Tipo</th>
                                                            <th>Prazo</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-check">
                                                                <div class="checkbox checkbox-only mr-sm">
                                                                    <input type="checkbox" id="table-check-1">
                                                                    <label for="table-check-1"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                00/00/0000 - Segunda-feira
                                                            </td>
                                                            <td>
                                                                Compras ABC
                                                            </td>
                                                            <td>
                                                                <strong>Solicitação</strong>
                                                            </td>
                                                            <td>
                                                                <strong class="text-muted">00/00/0000</strong>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="btn-group btn-group-sm dropdown-custom pull-right">
                                                                    <button type="button" class="btn btn-default-outline dropdown-toggle" aria-haspopup="true" aria-expanded="false">Ações
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#ModalCriaTransac" role="button"><i class="fa fa-pencil mr-xs" aria-hidden="true"></i> Editar</a>
                                                                        <a class="dropdown-item text-danger swal-btn-cancel" href="#" role="button"><i class="fa fa-trash mr-xs" aria-hidden="true"></i> Excluir</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
            
                                                </table>
                                            </div>
                                        </section>
                                        
                                    </div><!--.tab-pane-->
                                </div><!--.tab-content-->
                            </section><!--.tabs-section-->
                        </div>
                
                    </div>
                </section>
            </div>
        </div><!--.page-content-->
        
        
        
        
        
        
        
        
        
        
        <script src="../../js/lib/jquery/jquery.min.js"></script>
        <script src="../../js/lib/tether/tether.min.js"></script>
        <script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/plugins.js"></script>
        <script src="../../js/app.js"></script>


                 !-- específico desta página -->
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="../../js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    
    
        <script src="../../js/lib/d3/d3.min.js"></script>
        <script src="../../js/lib/charts-c3js/c3.min.js"></script>
        <script src="../../js/lib/charts-c3js/c3js-init.js"></script>
    
        <script src="../../js/lib/jquery-simply-countable/jquery.simplyCountable.js"></script>
    
    
        <script src="../../js/interface.js"></script>
        <script src="dashboard.js"></script>
        
        
        
        
    
    </body>
</html>