<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta property="creator.productor" content="http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/NUMERO">
        
        <title>Gemeos - Sistema de Gerenciamento de Métricas e Ordens de Serviços</title>
        <link rel="shortcut icon" href="../../img/favicon.png">
        <link rel="stylesheet" href="../../css/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/lib/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/main.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
    
    </head>
    <body>
        <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
            <ul id="menu-barra-temp" style="list-style:none;">
                <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
                    <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a>
                </li>
                <li>
                    <a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a>
                </li>
            </ul>
        </div>
        
        <div class="container mt-xl">
            <div class="row">
                <div class="col-md-5 offset-md-1 text-center hidden-md-down">
                    <img class="img-adaptative mb-xl mt-xl" src="../../img/equip-job.png" alt="Gemeos - Sistema de Gerenciamento de Métricas e Ordens de Serviços">
                    
                    <img src="../../img/ministerio-da-integracao-gov-sm.png" class="img-adaptative mt-md">
                </div>
                <div class="col-md-6 mt-md">
                    <form class="sign-box">
                        <div class="text-center">
                            <img class="img-adaptative" src="../../img/logo-gemeos-c-md.png" alt="Gemeos - Sistema de Gerenciamento de Métricas e Ordens de Serviços">
                            <small>Sistema de Gerenciamento de Métricas e Ordens de Serviços</small>
                        </div>
                        <div class="divider-top">
                            <div class="form-group">
                                <label class="form-label semibold">Seu e-mail:</label>
                                <input type="text" class="form-control" placeholder="E-mail or Nome de usuário"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label semibold">Sua senha:</label>
                                <input type="password" class="form-control" placeholder="Senha"/>
                            </div>
                            <div class="form-group">
                                <div class="checkbox float-left">
                                    <input type="checkbox" id="signed-in"/> <label for="signed-in">Manter logado</label>
                                </div>
                                <div class="float-right reset">
                                    <a href="#" data-toggle="modal" data-target="#ModalLembrarSenha">Esqueci a senha</a>
                                </div>
                            </div>
                            <a href="../admin/dashboard.html" class="btn btn-rounded btn-primary">Entrar</a>
                        </div>
                        <div class="divider-top">
                            <p class="sign-note">Não possui conta?
                                <a href="#" data-toggle="modal" data-target="#ModalCadastro">Solicite seu acesso</a></p>
                        </div>
                    </form>
                </div>
            </div>
        
        </div>
        
        
        <div class="modal fade modal-custom" id="ModalLembrarSenha" role="dialog" aria-labelledby="ModalLembrarSenha" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-center-v">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Esqueceu a senha?</h4>
                        <p>Informe o e-mail para que você possa resetar sua senha:</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label semibold">Seu e-mail:</label>
                            <input type="text" class="form-control" placeholder="E-mail ou Nome de usuário"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-primary">Enviar</button>
                        <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                
                </div>
            </div>
        </div><!--.modal -->
        
        
        <div class="modal fade modal-custom" id="ModalCadastro" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="cadastro-form" class="validate-form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Solicitar acesso ao sistema</h4>
                            <p class="text-info">As solicitações serão avaliadas em até 5 dias úteis</p>
                        </div>
                        <div class="modal-body">
                            <section class="card card-default">
                                <header class="card-header">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5 class="semibold">
                                                <i class="fa fa-sitemap mr-xs" aria-hidden="true"></i> Vínculo do Usuário
                                            </h5>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Vínculo:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="selectvinculo" name="selectvinculo">
                                                    <option value="0">Servidor</option>
                                                    <option value="1">Servidor</option>
                                                    <option value="2">Estagiário</option>
                                                    <option value="3">Terceirizado</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">CPF *</label>
                                                <input type="text" class="form-control" id="cpf" name="cpf">
                                            </fieldset>
                                        </div>
                                    </div>
                                
                                </div>
                            </section>
                            <section class="card card-default">
                                <header class="card-header">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5 class="semibold">
                                                <i class="fa fa-user mr-xs" aria-hidden="true"></i> Dados pessoais </h5>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Nome<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="form-label semibold">Nascimento</label>
                                            <input type="tel" class="form-control" id="" name="" placeholder="00/00/0000">
                                        </div>
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Sexo:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="sexo" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Feminino</option>
                                                    <option value="2">Masculino</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="form-label semibold">RG<span class="semibold text-danger">*</span></label>
                                            <input type="tel" class="form-control" id="" name="" placeholder="00/00/0000">
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="form-label semibold">Órgão emissor<span class="semibold text-danger">*</span></label>
                                            <input type="text" class="form-control" id="" name="" placeholder="00/00/0000">
                                        </div>
                                        <div class="col-sm-4">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">UF:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="UF" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Distrito Federal</option>
                                                    <option value="2">Bahia</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Estado (Naturalidade):
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="UF" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Distrito Federal</option>
                                                    <option value="2">Bahia</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Município (Naturalidade):
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="UF" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Distrito Federal</option>
                                                    <option value="2">Bahia</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="card card-default">
                                <header class="card-header">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5 class="semibold">
                                                <i class="fa fa-building-o mr-xs" aria-hidden="true"></i> Endereço </h5>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Endereço<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Complemento<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Estado:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="UF" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Distrito Federal</option>
                                                    <option value="2">Bahia</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Município:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="UF" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Distrito Federal</option>
                                                    <option value="2">Bahia</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="form-label semibold">Bairro</label>
                                            <input type="text" class="form-control" id="" name="" placeholder="Número">
                                        </div>
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">CEP</label>
                                                <input type="text" class="form-control" placeholder="CEP">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="box-typical">
                                <header class="box-typical-header header-bordered">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-title">
                                            <h5 class="semibold">
                                                <i class="fa fa-phone mr-xs" aria-hidden="true"></i> Telefones
                                            </h5>
                                        </div>
                                        <div class="tbl-cell tbl-cell-action-bordered">
                                            <div>
                                                <button type="button" class="action-btn" data-toggle="collapse" data-target="#add-telefone" aria-expanded="false" aria-controls="add-telefone">
                                                    <i class="fa fa-plus-circle mr-xs"></i>Adicionar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="p-0">
                                    <div class="collapse" id="add-telefone">
                                        <div class="clearfix p-a mb-0 divider-bottom">
                                            <div class="col-sm-5">
                                                <label class="form-label semibold" for="">Tipo</label>
                                                <select class="select2 select2-arrow">
                                                    <option>Selecione</option>
                                                    <option>Principal</option>
                                                    <option>Comercial</option>
                                                    <option>Celular</option>
                                                    <option>Fax</option>
                                                    <option>Outros</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-7">
                                                <label class="form-label semibold" for="">Número</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control telefone" placeholder="Número" id="telefone-1">
                                                    <span class="input-group-btn">
                                                                          <button class="btn btn-secondary-outline" type="button">
                                                                              <i class="fa fa-plus" aria-hidden="true"></i>
                                                                          </button>
                                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table-hover table-box-typical tbl-typical">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <div>Tipo</div>
                                                    </th>
                                                    <th class="text-center">
                                                        <div>Telefone</div>
                                                    </th>
                                                    <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Principal</p></td>
                                                    <td>
                                                        (00) 00000000
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-clear btn-xs" data-toggle="tooltip" data-placement="top" title="remover">
                                                            <i class="fa fa-times mr-xs text-danger" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section class="card card-default">
                                <header class="card-header">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5 class="semibold">
                                                <i class="fa fa-suitcase mr-xs" aria-hidden="true"></i> Dados Funcionais</h5>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">E-mail<span class="semibold text-danger">*</span></label>
                                                <input type="email" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-4">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Confirme seu e-mail<span class="semibold text-danger">*</span></label>
                                                <input type="email" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-4">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Unidade:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="" name="sexo">
                                                    <option value="0" selected>Selecione</option>
                                                    <option value="1">Distrito Federal</option>
                                                    <option value="2">Bahia</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">SIAPE<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Órgão<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Empresa<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-3">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Cargo<span class="semibold text-danger">*</span></label>
                                                <input type="text" class="form-control" id="" name="" placeholder="Nome">
                                            </fieldset>
                                        </div>
                                        
                                    </div>
                                </div>
                            </section>
                            <section class="card card-default">
                                <header class="card-header">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5 class="semibold">
                                                <i class="fa fa-gears mr-xs" aria-hidden="true"></i> Função e acessos</h5>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="form-label semibold" for="">Vincular função/funções:<span class="semibold text-danger">*</span></label>
                                            
                                            <!--<textarea class="tags-editor-textarea"></textarea>-->
    
                                            <!-- Desabilitado porque deu erro com caracteres especiais-->
                                            <select class="select2 select2-withtags" multiple="multiple" data-tags="true" data-placeholder="Selecione ou insira" data-allow-clear="true">
                                                <option>Selecione</option>
                                                <option>Administrador</option>
                                                <option>Gestor Contrato</option>
                                                <option>Fiscal</option>
                                            </select>
                                            <small class="text-muted">Selecione uma função já existente, ou digite uma nova</small>
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Perfil:
                                                    <span class="semibold text-danger">*</span></label>
                                                <select class="select2 select2-arrow" id="" name="sexo">
                                                    <option value="0" selected>Administrador</option>
                                                    <option value="1">Gestor Contrato</option>
                                                    <option value="2">Fiscal</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row mt-md">
                                        <div class="col-sm-12">
                                            <label class="form-label semibold" for="">Motivos:</label>
                                            <textarea rows="4" class="form-control" placeholder="Motivos" id="motivos-textarea"></textarea>
                                            <small>Você tem
                                                <span id="motivos-textarea-counter" class="counter-value semibold"></span> caracteres restantes.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="box-typical">
                                <header class="box-typical-header header-bordered">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-title">
                                            <h5 class="semibold">
                                                <i class="fa fa-cloud-upload mr-xs" aria-hidden="true"></i> Arquivos
                                            </h5>
                                        </div>
                                        <div class="tbl-cell tbl-cell-action-bordered">
                                            <div>
                                                <button type="button" class="action-btn" data-toggle="collapse" data-target="#add-arquivos" aria-expanded="false" aria-controls="add-arquivos">
                                                    <i class="fa fa-plus-circle mr-xs"></i>Adicionar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="p-0">
                                    <div class="collapse" id="add-arquivos">
                                        <div class="clearfix p-a mb-0 divider-bottom">
                                            
                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label class="form-label semibold" for="">Enviar arquivo</label>
                                                    <input type="file" class="form-control-file" id="arquivo">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label semibold" for="">Descrição</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" placeholder="Descrição" id="">
                                                    <span class="input-group-btn">
                                                                          <button class="btn btn-secondary-outline" type="button">
                                                                              <i class="fa fa-plus" aria-hidden="true"></i>
                                                                          </button>
                                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table-hover table-box-typical tbl-typical">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <div>Arquivo</div>
                                                    </th>
                                                    <th class="">
                                                        <div>Descrição</div>
                                                    </th>
                                                    <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p><a href="#">autorizacao-gerencia.pdf</a></p></td>
                                                    <td>
                                                        Arquivo de autorização
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-clear btn-xs" data-toggle="tooltip" data-placement="top" title="remover">
                                                            <i class="fa fa-times mr-xs text-danger" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-rounded">Exemplo de Validar</button>
                            <button type="button" class="btn btn-success btn-rounded swal-btn-cancel" data-dismiss="modal">Exemplo ao Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--.modal-->
        
        
        <footer class="text-center p-a-lg divider-top mt-xl">
            <small>
                Ministério da Integração Nacional, 2018
            </small>
        </footer>
        
        
        <script src="../../js/lib/jquery/jquery.min.js"></script>
        <script src="../../js/lib/tether/tether.min.js"></script>
        <script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/plugins.js"></script>
        
        
              <!-- específico desta página -->
        <script src="../../js/lib/datatables-net/datatables.min.js"></script>
        <script src="../../js/start-datatables.js"></script>
        
        <script src="../../js/lib/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="../../js/lib/select2/select2.full.min.js"></script>
        <script src="../../js/lib/select2/i18n/pt-BR.js"></script>
        
        
        <script src="../../js/lib/input-mask/jquery.mask.min.js"></script>
        <script src="../../js/lib/jquery-validate/jquery.validate.min.js"></script>
    
        <script src="../../js/lib/jquery-tag-editor/jquery.tag-editor.min.js"></script>
    
        <script src="../../js/lib/jquery-simply-countable/jquery.simplyCountable.js"></script>
        
        <script src="../../js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
        
        <script src="../../js/app.js"></script>
        <script src="login-index.js"></script>
        
        
        <script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
    </body>
</html>